.menu {
    -webkit-app-region: drag;
	display: flex;
	flex-direction: column;
	width: 200px;
	background-color: #e6f4ff;
	height: 100%;
	padding: 10px 20px;
	&-title {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 50px;
		h1 {
            user-select: none;
			font-size: var(--fontsize-1st);
			line-height: var(--fontheight-1st);
			color: var(--fontcolor-1st-dark);
		}
		img {
			height: 40px;
			width: 40px;
			opacity: 0.8;
		}
	}
}
