.input-area {
	width: 100%;
	height: 100%;
	border-top: 1px solid var(--border-light);
	// padding: 0 0 20px 0;
	&-button-group {
		width: 100%;
		height: 30px;
		padding: 10px 20px;
		display: flex;
		&-item {
			transition: width 0.5s;
			padding: 2px;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 10px;
			border: 1px solid var(--border-light);
			width: 35px;
			margin-right: 10px;
			box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
			overflow: hidden;
			cursor: pointer;
			&-selector {
				width: 100px;
				&-content {
					width: 100%;
					&-cust {
						// animation: slideLeftToRight 0.5s;
						:global {
							.ant-select-selector {
								border: none !important;
								background: none !important;
								box-shadow: none !important;
							}
						}
						&-group-title {
							display: flex;
							align-items: center;
							&-span {
								display: flex;
								margin-left: 10px;
							}
						}
					}
				}
			}
		}
	}
	&-inputbox {
		padding: 0 20px;
		display: flex;
		// box-shadow: 0px 2px 4px 0px rgba(0,0,0,.05);
		// border: 1px solid var(--border-light);
		// background-color: white;
		&-content {
			// padding: 2px;
			overflow: hidden;
			border-radius: 10px;
			background-color: white;
			box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
			border: 1px solid var(--border-light);
			width: 100%;
			display: flex;
		}
		&-input {
			// height: 50px;
			flex: 1;
		}
		&-button {
			display: flex;
			align-items: flex-end;
			// margin: 10px;
			&-ico {
				background-color: #e6f4ff;
				height: 100%;
				width: 50px;
				display: flex;
				justify-content: center;
				align-items: center;
				// border-radius: 10px;
				// border: 1px solid var(--border-light);
				cursor: pointer;
			}
		}
	}
}
@keyframes slideLeftToRight {
  0% {
    width: 30px;
  }
  100% {
    width: 100px;
  }
}