.message-item {
	display: flex;
    flex-direction: column;
    width: 100%;
    &-user {
        align-items: flex-end;
        .message-item-message {
            background-color: #bae0ff;
        }
    }
    &-assistant {
        .message-item-message {
            background-color: #d9d9d9;
        }
    }
    &-message {
        margin: 2px 0;
        width: max-content;
        padding: 10px;
        border-radius: 10px;
        color: var(--fontcolor-2nd-dark);
    }
    &-subinfo {
        font-size: var(--fontsize-3rd);
        line-height: var(--lineheight-3rd);
        color: var(--fontcolor-3rd-dark);
    }
}
