.header {
    -webkit-app-region: drag;
	display: flex;
	justify-content: space-between;
	background-color: var(--background-light);
	padding: 10px;
    border-bottom: 1px solid var(--border-light);
	&-left {
		display: flex;
		flex-direction: column;
		&-maintitle {
			font-size: var(--fontsize-1st);
			line-height: var(--lineheight-1st);
			color: var(--fontcolor-1st-dark);
		}
		&-subtitle {
			font-size: var(--fontsize-2nd);
			line-height: var(--lineheight-2nd);
			color: var(--fontcolor-2nd-dark);
		}
	}
	&-right {
        float: right;
        width: 120px;
		display: flex;
        justify-content: space-between;
		line-height: var(--lineheight-1st);
	}
}
